<meta http-equiv="refresh" content="5; url=D:\One Drive\OneDrive\Desktop\fauna-nation\src\app\myComponent\artboard3\artboard3.component.html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
  padding: 20px;
  background-color: black;
  color: white;
  margin:20px;
  text-align: center;
  opacity: 0.7;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<div class="alert" >
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <h2>Have you given 20ml of hydopholoro vaccine to lion group?</h2>
  <div style="text-align: center; margin: 20px;">
  <button type="button" style="background-color:pink;" (click)="onClick()">Confirm</button>
  </div>
</div>

<script>
function myFunction(){
alert("Confirmed");
}
</script>





  <div class="row" style="background-color:indigo;" >

  <div class="col-xs-6 col-sm-6 col-md-4 ">
    <div class="container" style=" position: relative;text-align: center;color: white;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg7wpaj0ATDT5TXvBngbXTNVytFqmMkWr5kw&usqp=CAU" alt="" style="border-radius:25px;padding: 10px;">
    <div class="bottom-left" style="position: absolute;bottom: 20px;left: 150px;  background-color: black;width: 150px;height: 50px;padding: 10px;margin: 8px;opacity:0.8;"><strong>Food</strong>(Beef 3kg)</div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-4">
    <div class="container" style=" position: relative;text-align: center;color: white;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg7wpaj0ATDT5TXvBngbXTNVytFqmMkWr5kw&usqp=CAU" alt="" style="border-radius:25px;padding: 10px;">
    <div class="bottom-left" style="position: absolute;bottom: 20px;left: 150px;  background-color: black;width: 150px;height: 50px;padding: 10px;margin: 8px; opacity:0.8;"><strong>Food</strong>(Beef 3kg)</div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-4">
    <div class="container" style=" position: relative;text-align: center;color: white;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg7wpaj0ATDT5TXvBngbXTNVytFqmMkWr5kw&usqp=CAU" alt="" style="border-radius:25px;padding: 10px;">
    <div class="bottom-left" style="position: absolute;bottom: 20px;left: 150px;  background-color: black;width: 150px;height: 50px;padding: 10px;margin: 8px; opacity:0.8;"><strong>Food</strong>(Beef 3kg)</div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-4 ">
    <div class="container" style=" position: relative;text-align: center;color: white;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg7wpaj0ATDT5TXvBngbXTNVytFqmMkWr5kw&usqp=CAU" alt="" style="border-radius:25px;padding: 10px;">
    <div class="bottom-left" style="position: absolute;bottom: 20px;left: 150px;  background-color: black;width: 150px;height: 50px;padding: 10px;margin: 8px;opacity:0.8;"><strong>Food</strong>(Beef 3kg)</div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-4">
    <div class="container" style=" position: relative;text-align: center;color: white;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg7wpaj0ATDT5TXvBngbXTNVytFqmMkWr5kw&usqp=CAU" alt="" style="border-radius:25px;padding: 10px;">
    <div class="bottom-left" style="position: absolute;bottom: 20px;left: 150px;  background-color: black;width: 150px;height: 50px;padding: 10px;margin: 8px;opacity:0.8;"><strong>Food</strong>(Beef 3kg)</div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-4">
    <div class="container" style=" position: relative;text-align: center;color: white;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg7wpaj0ATDT5TXvBngbXTNVytFqmMkWr5kw&usqp=CAU" alt="" style="border-radius:25px;padding: 10px;">
    <div class="bottom-left" style="position: absolute;bottom: 20px;left: 150px;  background-color: black;width: 150px;height: 50px;padding: 10px;margin: 8px;opacity:0.8;"><strong>Food</strong>(Beef 3kg)</div>
  </div>
  </div>

</div>
  
